<!-- Loop over each object in the posts array -->
{{#each posts as |post| }}
<div class="row mb-4 post">
  <div class="col-md-5">
    <h2>
      <a href="/post/{{post.id}}" id="postlink">{{post.name}}</a>
    </h2>
    <p>{{post.description}}</p>
    <div>
    <div class="col-md-3" id="post">
    <p>
      Created by {{post.user.name}} on {{format_date post.date_created}}
      </p>
  </div>
  </div>
</div>
{{/each}}
