<div class="text-center" id="post">
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>{{user.name}} {{format_date date_created}}</p>

    {{#each comments as |comment|}}

    <p>{{comment.user.name}} says: "{{comment.content}}"</p>

{{/each}}

</div>
<form class="form new-comment-form">
  <div class="form-group">
    <label for="post-description">Comment:</label>
       <text class="form-input" name="comment" id="comment"></text>
  </div>
  <div class="form-group">
    <button type="submit" class="btn">Create</button>
    </div>
  </form>

  <script src="/js/comment.js"></script>